body
{
  color: #2e384d;
  margin: 0;
  text-align: center;
  font-family:'Merriweather', serif;
  background-color: #ccdbf1;

}

h1
{
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  color: #2d3d5c;
  margin-top: 0;

  position: relative;
  left: 20px

}
p
{
  line-height: 2;

}

hr
{
  border: dotted #6b8dc8 6px;
  border-bottom: none;
  width: 5%;
  margin: 80px auto;
}
h2
{
  color: #2d3d5c;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3
{
  font-family: 'Montserrat', sans-serif;
    color: #375fac;
}

.pfont
{
  color: #2d3d5c;

  font-size: 25px;
  position: relative;
  bottom:  60px

}
.top
{
  background-color: #b2ccfc;
  padding-top: 50px;
  height: 700px;

}

.middle-container
{
  padding-top: 30px;
  margin: 60px 0;
}

.bottom-container
{
  color: #2e384d;

    margin-top: 100px;
    margin-bottom: 0;
    background-color: #b5cae9;
    padding: 40px 0 15px;
}
a
{
  color: #375fac;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 4px;
  text-decoration: none;
}
a:hover
{
  color: #eaf6f6
}
.homeimg
{
  position: relative;
  bottom: 40px;
}
.skill-row1
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 50px;
}

.skill-row2
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 10px;
}
.skill-img
{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.code-img
{
  width: 27%;
  float: right;
  position: relative;
  right: 40px;
  margin-left: 30px;
}

.copyright
{
  font-size: 0.80rem;
  padding: 8px 0;
}
img
{
  border-radius: 30px;
}
.btn {
  background: #6b8dc8;
  background-image: -webkit-linear-gradient(top, #6b8dc8, # );
  background-image: -moz-linear-gradient(top, #6b8dc8, # );
  background-image: -ms-linear-gradient(top, #6b8dc8, # );
  background-image: -o-linear-gradient(top, #6b8dc8, # );
  background-image: linear-gradient(to bottom, #6b8dc8, # );
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6b8dc8 ;
  background-image: -webkit-linear-gradient(top, #6b8dc8 , #91adce);
  background-image: -moz-linear-gradient(top, #6b8dc8 , #91adce);
  background-image: -ms-linear-gradient(top, #6b8dc8 , #91adce);
  background-image: -o-linear-gradient(top, #6b8dc8 , #91adce);
  background-image: linear-gradient(to bottom, #6b8dc8 , #91adce);
  text-decoration: none;
}

.Through
{
  margin: 0 0 50px;
}
